@import url('https://fonts.googleapis.com/css?family=Poppins');
body
{
    font-family: 'Poppins', sans-serif;
    display:flex;
    align-items: center;
    height:fit-content;
    max-width: 500px;
    background: #000;
}
p
{
    font-size: 10px;
    line-height: 10px;
    background: url(sha.png);
    background-attachment: fixed;
    background-size:contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0.1);
}